* {
    font-family: sans-serif;

}

body{
    background-color: #EAD7D7;
}

.x-button{

}

.active_btn {
    color: #12020D;
    background-color: #B49FCC;
}

table.table_check   {
    width: 100%;
    font-size:large;
    background-color: #6D466B;
    color: #FFFFFF;
}

td.boxheaderr {

    text-align:right;
    font-family: sans-serif;
    font-style: italic;
    font-size:larger;

    background-color: #491D44;
    color: #FFFF
}
td.boxheaderl {

    text-align:left;
    font-family: sans-serif;
    font-style: italic;
    font-size:larger;

    background-color: #491D44;
    color: #FFF;
}


td.area{
    width: 1%;
}